mixin header
    .header
        .container
            .header__container
                a(href='/').header__logo
                    svg(width='100px' height='100px') 
                        use( href="../assets/icons/sprite.svg#logo")
                .header__case
                    nav.header__nav
                        div.header__progress-bar
                        div(data-section='#main').header__nav-item
                            span Главная
                        div(data-section='#advantages').header__nav-item 
                            span Преимущества
                        div(data-section='#principles').header__nav-item 
                            span Принципы
                        div(data-section='#feedback').header__nav-item 
                            span Контакты
                    button.btn
                        | написать
                        svg(width="20" height="20").btn__arrow 
                            use( href="../assets/icons/sprite.svg#arrowRight")
